.head_panel {
position: fixed;
display: flex;
justify-content: end;
top: 0;
width: 100%;
height: 3%;
background: #141414;
border: 1px solid #323232;
box-shadow: 2px 0 10px rgba(0,0,0,0.2);
z-index: 99;
transition: width 0.3s ease;
}

.head_panel:hover{
height: 100px;
}

.head_panel:hover .hidded_button{
opacity: 1;
visibility: visible;
}

.head_panel:hover .hidded_button_avatar{
opacity: 1;
visibility: visible;
}

.head_panel:hover .sign_in_container{
align-items: center; 
}

.head_panel:hover .sign_in_icon{
display: none;
}

.sign_in_container{
margin-right: 30px;
align-items: center; 
display: flex;
flex-direction: row;
padding: auto;
/* right: 10px; */
gap: 15px;
}

.hidded_button{
visibility: hidden;
cursor: pointer;
}

.steam_user_avatar{
/* margin-right: 20px; */
width: 50px;
height: 50px;
border-radius: 30%;
}

.hidded_button_avatar{
visibility: hidden;
cursor: pointer;
/* display: flex; */
align-content: center;
}

.hidded_button_avatar:hover .hidden_user_tooltip{
opacity: 1;
visibility: visible;
}

.hidden_user_tooltip{
background-color: #323232;
transform: translateX(-50%);
border-radius: 3px;
position: absolute;
justify-self: start;
visibility: hidden;
display: flex;
flex-direction: column;
gap: 10px;
}

.user_settings_icons{
width: 20px;
height: 20px;
}

.sign_in_icon{
/* margin-right: 20px; */
width: 20px;
height: 20px;
border-radius: 100%;
}