/* From Uiverse.io by andrei0x309 */ 
.input {
    display: flex;
    flex-direction: row;
    width: fit-content;
    background-color: #150e1a6b;
    justify-content: center;
    border-radius: 5px;
    gap: 7.5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    padding-left: 10px;
    padding-right: 10px;
    transition: all 0.2s ease;
    border: 1px solid #310f446b;
    font-size: 0.9rem;
  }
  
  .value {
    background-color: transparent;
    border: none;
    padding: 10px;
    color: aliceblue;
    display: flex;
    position: relative;
    gap: 5px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.2s ease;
  }
  
  .value:not(:active):hover,
  .active,
  .value:focus {
    background-color: #21262cad;
  }
  
  .value:focus,
  .value:active {
    background-color: #1a1f24;
    outline: none;
  }
  
  .value::before {
    content: "";
    position: absolute;
    top: 35px;
    right: 0px;
    width: 100%;
    height: 1px;
    background-color: #0a01303f;
    border-radius: 5px;
    opacity: 0;
  }
  
  .value:focus::before,
  .value:active::before {
    opacity: 1;
  }
  
  .value svg {
    width: 15px;
    margin-top: 4px;
  }
  
  .value svg.normal {
    width: 15px;
    margin-top: 1px;
  }
  

.head_panel {
position: fixed;
display: flex;
justify-content: end;
top: 0;
width: 100%;
height: 4%;
background: #141414;
/* border: 1px solid #323232; */
box-shadow: 2px 0 10px rgba(0,0,0,0.2);
z-index: 99;
transition: height 0.1s ease;
}

.head_panel:hover{
height: 100px;
}

.head_panel:hover .hidded_button{
opacity: 1;
visibility: visible;
}

.head_panel:hover .hidded_button_avatar{
opacity: 1;
visibility: visible;
}

.head_panel:hover .sign_in_container{
align-items: center; 
}

.head_panel:hover .sign_in_icon{
display: none;
}

.sign_in_container{
margin-right: 30px;
align-items: center; 
display: flex;
flex-direction: row;
padding: auto;
/* right: 10px; */
gap: 15px;
}

.hidded_button{
visibility: hidden;
cursor: pointer;
}

.steam_user_avatar{
/* margin-right: 20px; */
width: 50px;
height: 50px;
border-radius: 30%;
}

.hidded_button_avatar{
visibility: hidden;
cursor: pointer;
/* display: flex; */
align-content: center;
}

.hidded_button_avatar:hover .hidden_user_tooltip{
opacity: 1;
visibility: visible;
}

.hidden_user_tooltip{
background-color: #323232;
transform: translateX(-50%);
border-radius: 8%;
position: absolute;
padding: 10px 12px;
/* justify-self: start; */
visibility: hidden;
display: flex;
flex-direction: column;
gap: 10px;
}

.user_settings_icons{
width: 20px;
height: 20px;
}

.sign_in_icon{
/* margin-right: 20px; */
width: 20px;
height: 20px;
border-radius: 100%;
}

.hidden_text_head_panel{
    position: fixed;            /* important */
    background-color: #333;
    color: white;
    padding: 5px 8px;
    border-radius: 4px;
    font-size: 8pt;
    white-space: nowrap;

    pointer-events: none;       /* prevents flicker */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.15s ease;
    z-index: 10000;
}

.img_and_span_cont{
    display: flex; 
    flex-direction: row; 
    gap: 10px;
    /* padding: 10px 12px; */
}