.media_container{
grid-column: 3;
position: fixed; 
top: 50%;
right: 15px;
display: flex;
transform: translateY(-50%);
justify-content: center;
flex-direction: column;
gap: 10px;  
z-index: 999;
}

.media_icons_play_cont{
width: 40px;
height: 40px;
display: flex;
border-radius: 100%;
border: 1px solid #323232;
background-color: #212121;
justify-content: center;
align-items: center;
visibility: hidden;
}

.play_icon{
/* position: relative; */
width: 20px;
height: 20px;
}

.hidden_text_media {
    position: fixed;            /* important */
    background-color: #333;
    color: white;
    padding: 5px 8px;
    border-radius: 4px;
    font-size: 8pt;
    white-space: nowrap;

    pointer-events: none;       /* prevents flicker */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.15s ease;
    z-index: 10000;
}

.pause_icon{
justify-self: center;
align-self: center;
width: 20px;
height: 20px;
}

.media_icons_pause_cont{
border-radius: 100%;
display: flex;
width: 40px;
height: 40px;
border: 1px solid #323232;
background-color: #212121;
align-items: center;
justify-content: center;
visibility: visible;
cursor: pointer;
}

.arrow_down_cont{
width: 40px;
height: 40px;
display: flex;
border-radius: 100%;
border: 1px solid #323232;
background-color: #212121;
justify-content: center;
align-items: center;
}

.arrow_up_cont{
width: 40px;
height: 40px;
display: flex;
border-radius: 100%;
border: 1px solid #323232;
background-color: #212121;
justify-content: center;
align-items: center;
cursor: pointer;
}

.arrow_down_cont{
width: 40px;
height: 40px;
display: flex;
border-radius: 100%;
border: 1px solid #323232;
background-color: #212121;
justify-content: center;
align-items: center;
cursor: pointer;
}

.arrow_up{
cursor: pointer;
width: 15px;
height: 15px;
}

.arrow_down{
    cursor: pointer;
    width: 15px;
    height: 15px;
}