.modal_form {
    background: #212121;
    padding: 25px;
    border-radius: 12px;
    width: 90%;
    height: 80%;
    max-width: 1200px;
    border: 1px solid #323232;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.35);
    color: #fff;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    gap: 14px;
    animation: fadeIn 0.25s ease-out;
}

.profile_shortcats {
    /* grid-column: 1 / 3; */
    /* span columns 1 and 2 */
    /* grid-row: 2 / 3; */
    /* third row */
    box-sizing: border-box;
    background: #282828;
    padding: 12px;
    border-radius: 8px;
    min-height: 80px;
    height: 30%;
    width: 100%;
    /* display: flex;
    flex-direction: row; */
    /* align-items: center; */
    gap: 10px;
    /* justify-content: space-between; */
    /* height: 1fr; */
}

.profile_input {
    width: 100%;
    height: 34px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #2e2e2e;
    background: #2d2d2d;
    /* color: white; */
    font-size: 12px;
    outline: none;
    transition: border 0.2s ease, box-shadow 0.2s ease;
    /* margin-bottom: 10px; */
    align-self: center;
    display: flex;
}

.profile_setup_payments {
    /* grid-column: 1 / 3; */
    /* span columns 1 and 2 */
    /* grid-row: 2 / 3; */
    /* third row */
    background: #282828;
    box-sizing: border-box;
    padding: 12px;
    border-radius: 8px;
    min-height: 80px;
    height: 30%;
    width: 100%;
    /* display: flex;
    flex-direction: row; */
    /* align-items: center; */
    gap: 10px;
    /* justify-content: space-between; */
    /* height: 1fr; */
}

.profile_setup_payments_2 {
    /* grid-column: 1 / 3; */
    /* span columns 1 and 2 */
    /* grid-row: 2 / 3; */
    /* third row */
    background: #282828;
    box-sizing: border-box;
    padding: 12px;
    border-radius: 8px;
    min-height: 80px;
    height: 30%;
    width: 100%;
    /* display: flex;
    flex-direction: row; */
    /* align-items: center; */
    gap: 10px;
    /* justify-content: space-between; */
    /* height: 1fr; */
}


/* Labels */
.modal_form label {
    font-size: 13px;
    font-weight: 600;
    color: #ffffff;
    opacity: 0.85;
}

/* Submit button */
.modal_form button {
    padding: 12px;
    margin-top: 4px;
    border: 1px solid #323232;
    border-radius: 6px;
    background: #28a4c6;
    /* your blue highlight */
    color: white;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.25s ease, transform 0.15s ease;
}

.modal_form button:hover {
    background: #66dbe6;
    transform: translateY(-2px);
}

/*Key frames*/
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}