.modal_backdrop {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.6);
backdrop-filter: blur(4px);
display: none;
align-items: center;
justify-content: center;
z-index: 9998;
}

.modal_backdrop hr {
border: none;
height: 1px;
background: #2e2e2e;
/* margin: 10px 0; */
}

.modal_form {
background: transparent;                 /* same as your cards */
padding: 25px;
border-radius: 12px;
justify-self: end;
/* width: 90%; */
max-width: 640px;
border: 1px solid #323232;           /* consistent border */
box-shadow: 0 8px 25px rgba(0,0,0,0.35);
color: #fff;
display: flex;
flex-direction: column;
gap: 14px;
z-index: 9999;
animation: fadeIn 0.25s ease-out;
}

/* Labels */
.modal_form label {
font-size: 13px;
font-weight: 600;
color: #ffffff;
opacity: 0.85;
}

/* Inputs, textareas */
.modal_form input{
/* width: 100%; */
/* padding: 10px 12px; */
background: #2d2d2d;                 /* matches .input_field */
color: #fff;
border: 1px solid #2e2e2e;
border-radius: 6px;
outline: none;
font-size: 13px;
transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

/* Submit button */
.modal_form button {
padding: 12px;
margin-top: 4px;
border: 1px solid #323232;
border-radius: 6px;
background: #28a4c6;                 /* your blue highlight */
color: white;
font-size: 14px;
font-weight: 600;
cursor: pointer;
transition: background 0.25s ease, transform 0.15s ease;
}

.modal_form button:hover {
background: #66dbe6;                 
transform: translateY(-2px);  
}

/*Key frames*/
@keyframes fadeIn {
from { opacity: 0; transform: scale(0.95); }
to   { opacity: 1; transform: scale(1); }
}