.store_widget {
    background: #212121;
    padding: 25px;
    border-radius: 12px;
    width: 5px;
    height: 10px;
    border: 1px solid #323232;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.35);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 14px;
    cursor: pointer;
}

.store_info {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.store_info span {
    font-size: medium;
    font: 400;
}

.store_widget_icon {
    width: 30px;
    height: 30px;
    align-self: center;
    justify-self: center;
}