<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/front/main_page.css">
    <link rel="stylesheet" href="/front/css/ad_form.css">
    <link rel="stylesheet" href="/front/css/feed_items.css">
    <link rel="stylesheet" href="/front/css/head_panel.css">
    <link rel="stylesheet" href="/front/css/media_panel.css">
    <link rel="stylesheet" href="/front/css/settings_form.css">
    <link rel="stylesheet" href="/front/css/side_panel.css">
    <link rel="stylesheet" href="/front/css/user_store.css">
    <link rel="stylesheet" href="/front/css/store_menu.css">
    <link rel="stylesheet" href="/front/css/offer_list.css">
</head>

<body>

  <script type="module" src="/front/main.js"></script>

  {% include "components/head_panel.html" %}
  {% include "components/side_panel.html" %}
  {% include "components/media_panel.html" %}
  {% include "components/feed_items.html" %}
  {% include "components/ad_form.html" %}
  {% include "components/settings_form.html" %}
  {% include "components/user_store.html" %}
  {% include "components/store_menu.html" %}
  {% include "components/offer_list.html" %}

  
</body>
</html>
