<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/front/main_page.css">
    <link rel="stylesheet" href="/front/css/ad_form.css">
    <link rel="stylesheet" href="/front/css/feed_items.css">
    <link rel="stylesheet" href="/front/css/main_head_panel.css">
    <link rel="stylesheet" href="/front/css/main_media_panel.css">
    <link rel="stylesheet" href="/front/css/profile_settings.css">
    <link rel="stylesheet" href="/front/css/main_side_panel.css">
    <link rel="stylesheet" href="/front/css/store.css">
    <link rel="stylesheet" href="/front/css/store_menu.css">
    <link rel="stylesheet" href="/front/css/profile_store_queue.css">
</head>

<body>

  <script type="module" src="/front/main.js"></script>

  {% include "components/main_head_panel.html" %}
  {% include "components/main_side_panel.html" %}
  {% include "components/main_media_panel.html" %}
  {% include "components/feed_items.html" %}
  {% include "components/ad_form.html" %}
  {% include "components/profile_settings.html" %}
  {% include "components/store.html" %}
  {% include "components/store_menu.html" %}
  {% include "components/profile_store_queue.html" %}

  
</body>
</html>
