body{
  background-color: #141414;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 3% 95% 2%;
}

hr {
  border: none;
  height: 1px;
  background: #2e2e2e;
  margin: 10px 0;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: #1a1a1a;
}

body::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #666;
}