<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/front/main_page.css">
<style>
</style>

</head>

<body>

<script>
const ws = new WebSocket("ws://127.0.0.1:8080/ws");
const ws_ad = new WebSocket("ws://127.0.0.1:8080/ws/ads");

ws_ad.onopen = () => console.log("WS_AD CONNECTED");
ws_ad.onclose = () => console.log("WS_AD CLOSED");
ws_ad.onerror = (err) => console.log("WS_AD ERROR", err);

ws_ad.onmessage = (event) => {
    const data = JSON.parse(event.data);

    // Get only the FIRST ad
    const user_ad = data.user_ads?.[0];
    // if (!user_ad) return;

    const container = document.getElementById("items-container");

    // console.log("USER AD:", user_ad);
    container.insertAdjacentHTML("afterbegin", `
        <div class="card_hover-container">
          <div class="ad_card">
              <img src="https://avatars.steamstatic.com/92a22efca48acaa3d6185e17e478f3b7fda33a88_full.jpg" class="ad_card_image">
          </div>
        </div>
    `);
};


ws.onopen = () => console.log("WS CONNECTED");
ws.onclose = () => console.log("WS CLOSED");
ws.onerror = (err) => console.log("WS ERROR", err);

ws.onmessage = (event) => {
  const items = JSON.parse(event.data);

    console.log("Received update:", items);

    const container = document.getElementById("items-container");

    items.items.forEach(item => {

      const card = `
        <div class="card_hover-container">
          <div class="card">
              <div class="card-details">
                  <img class="game_icon" src="${item.game_icon}">
              <div>

              <div class="card_tooltip-container">
                  <img class="more_icon" src="/front/svg/more_icon.svg">

                  <span class="tooltip_actions">
                      <a href="https://steamcommunity.com/market/listings/${item.appid}/${item.market_hash_name}"
                      target="_blank" rel="noopener noreferrer">
                      <img class="tooltip_icon" src="/front/svg/grab_icon.svg">
                      </a>
                      <img class="tooltip_icon" src="/front/svg/info_icon.svg">
                  </span>
              </div>
              <div style="overflow: hidden;">
              <img src="https://steamcommunity.com/economy/image/${ item.icon }" alt="${ item.name }" class="item_icon">
              </div>
              </div>
              <span class="hidden-text">${item.name}</span>
              <span class="text-price">$${item.price}</span>
              </div>
          </div>
        </div>
      `;
        
      container.insertAdjacentHTML("afterbegin", card);        

    });
};
</script>

<script>
    function updateFilters() {
    
        const msg = {
            type: "filters",
            appid: document.getElementById("f_appid").value,
            price_min: document.getElementById("f_min").value,
            price_max: document.getElementById("f_max").value,
            query: document.getElementById("f_query").value,
        }
        ws.send(JSON.stringify(msg));
        
        const url = `/api/filters?appid=${msg.appid}&price_min=${msg.price_min}&price_max=${msg.price_max}&query=${msg.query}`;
    
        fetch(url)
            .then(res => res.json())
            .then(json => {
                console.log("Filters updated:", json);
            });
    }
    </script>

<!-- === INITIAL TERA RENDER === -->
<div class="side_panel">
        <div class="side_panel_filters">
          <!-- <img class="side_panel_icon" src="/front/svg/filter_icon.svg"> -->

          <div class="filters">
            <label>Filters</label>
            <hr />
            <div class="filter_card cart">
                <div class="steps">
                  <div class="step">
                    <!-- <hr /> -->
                    <input
                    id="f_appid"
                    class="input_field"
                    placeholder="Enter a game"
                    type="text"
                  />
                  <!-- <hr /> -->
                  <input
                    id="f_query"
                    class="input_field"
                    placeholder="Enter a query"
                    type="text"
                  />
                    <!-- <hr /> -->
                  <label>min price</label>
                    <input
                    id="f_min"
                    type="range"
                    min="0"
                    max="9999999"
                    value="0"
                  />
                  <!-- <hr /> -->
                  <label>max price</label>
                    <input
                    id="f_max"
                    min="0"
                    max="9999999"
                    value="9999999"
                    type="range"
                  />
                  <!-- <hr /> -->
                  </div>
                </div>
      
            </div>
            <div class="filter_card checkout">
                <div class="footer">
                  <button class="checkout-btn" onclick="updateFilters()">Apply</button>
                </div>
            </div>

            <hr />
        </div>
        </div>

        <!-- <img class="side_panel_icon" src="/front/svg/chart_icon.svg">
        <img class="side_panel_icon" src="/front/svg/budget_icon.svg"> -->
    
</div>

<div class="head_panel">
  <div class="sign_in_container">
    {% if steam_user %}
    <div class="hidded_button">
        <img src="{{ steam_user.avatar_url_full }}" class="steam_user_avatar">
    </div>
    <img class="sign_in_icon" src="{{ steam_user.avatar_url_full }}">
    {% else %}
    <div class="hidded_button">
      <a href="http://localhost:8080/api/auth/steam">
        <img src="https://community.akamai.steamstatic.com/public/images/signinthroughsteam/sits_01.png">
      </a>
    </div>
    <img class="sign_in_icon" src="/front/svg/steam_icon.svg">
    {% endif %}
  </div>
</div>

<div class="event_container">
</div>

<div class="media_container">
  
  <!-- <div class="media_icons_play_cont">
    <img class="play_icon" src="/front/svg/play_icon.svg">
    <span class="hidden-text">Resume feed</span>
  </div> -->
  
  <div class="arrow_up_cont">
    <img class="arrows_icons" src="/front/svg/arrow_up.svg">
    <span class="hidden-text">Next event</span>
  </div>

  <div class="media_icons_pause_cont">
    <img class="pause_icon" src="/front/svg/pause_icon.svg">
    <span class="hidden-text">Pause feed</span>
  </div>
  
  <div class="arrow_down_cont">
      <img class="arrows_icons" src="/front/svg/arrow_down.svg">
      <span class="hidden-text">Previous event</span>
  </div>
</div>


<div id="items-container" class="items-container">    
{% for item in most_recent_items %}
        {% if filters.appid == item.game %}
        <div class="card_hover-container">

        <div class="card">
            <div class="card-details">
                <span class="text-price">${{ item.price }}</span>

                <div class="card_tooltip-container">
                    <img class="more_icon" src="/front/svg/more_icon.svg">
    
                    <span class="tooltip_actions">
                        <a href="https://steamcommunity.com/market/listings/{{item.appid}}/{{item.market_hash_name}}"
                        target="_blank" rel="noopener noreferrer">
                        <img class="tooltip_icon" src="/front/svg/grab_icon.svg">
                        </a>
                        <img class="tooltip_icon" src="/front/svg/info_icon.svg">
                    </span>
                </div>

                {% if item.tradable == "1" %}
                <img class="locker_icon" src="/front/svg/locker_icon.svg">
                {% endif %}
                
                <div>
                    <img class="game_icon" src="{{ item.game_icon }}">
                    <!-- <span class="hidden-text">{{item.game}}</span> -->
                </div>
                <div style="display: flex;
                box-sizing: content-box;">
                    <img src="https://steamcommunity.com/economy/image/{{ item.icon }}" alt="{{ item.name }}" class="item_icon">
                </div>
                <!-- <span class="text-title">{{ item.name }}</span> -->
                <span class="hidden-text">{{item.name}}</span>
            </div>
        </div>

        </div>
        {% endif %}
{% endfor %}
</div>
</div>

</body>
</html>
