<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/front/main_page.css">
    <link rel="stylesheet" href="/front/store_rating.css">
    <link rel="stylesheet" href="/front/css/ad_form.css">
    <link rel="stylesheet" href="/front/css/head_panel.css">
    <link rel="stylesheet" href="/front/css/settings_form.css">
    <link rel="stylesheet" href="/front/css/side_panel.css">
</head>

<body>

  <script type="module" src="/front/main.js"></script>

  {% include "components/head_panel.html" %}
  {% include "components/side_panel.html" %}
  {% include "components/ad_form.html" %}
  {% include "components/settings_form.html" %}

  
</body>
</html>
