<div class="head_panel">
  
    <div class="sign_in_container">
        {% if steam_user %}

        <!-- <div class="input">
            <button class="value">
                <img src="/front/svg/offer_list.svg" class="steam_user_avatar">
              Feed
            </button>
            <button class="value">
                <img src="/front/svg/ad_me_icon.svg" class="steam_user_avatar">
              Followers
            </button>
            <button class="value">
                <img src="{{ steam_user.avatar_url_full }}" class="steam_user_avatar">
              Settings
            </button>
        </div> -->

        <input id="main_steam_id" type="hidden" value="{{steam_user.steamid}}" style="display: none;">
        
        <div class="hidded_button" id="offerList">
            <img src="/front/svg/offer_list.svg" class="steam_user_avatar">
        </div>
        <div class="hidded_button" id="adMeBtn">
        <img src="/front/svg/ad_me_icon.svg" class="steam_user_avatar">
        </div>
        <div class="hidded_button_avatar">
        <img src="{{ steam_user.avatar_url_full }}" class="steam_user_avatar">
        <div class="hidden_user_tooltip">
            <div id="open_setting_form">
                <div class="img_and_span_cont">
                    <img src="/front/svg/user_settings.svg" class="user_settings_icons">
                    <span style="color: #9E9E9E;">settings</span>
                </div>
            </div>
            <a href="/api/logout">
                <div>
                    <div class="img_and_span_cont">
                        <img src="/front/svg/user_logout.svg" class="user_settings_icons">
                        <span style="color: #9E9E9E;">logout</span>
                    </div> 
                </div>
            </a>
        </div>
        </div>
        <img id="go_trade" class="sign_in_icon" src="/front/svg/offer_list.svg">
        <span class="hidden_text_head_panel">Go Trade</span>
        <img id="ad_me" class="sign_in_icon" src="/front/svg/ad_me_icon.svg">
        <span class="hidden_text_head_panel">Make Ad</span>
        <img class="sign_in_icon" src="{{ steam_user.avatar_url_full }}">
        {% else %}
        <div class="hidded_button">
        <a href="http://localhost:8080/api/auth/steam">
            <img src="https://community.akamai.steamstatic.com/public/images/signinthroughsteam/sits_01.png">
        </a>
        </div>
        <img class="sign_in_icon" src="/front/svg/steam_icon.svg">
        {% endif %}
    </div>
</div>