<div class="media_container">
    <!-- <div class="media_icons_play_cont">
      <img class="play_icon" src="/front/svg/play_icon.svg">
      <span class="hidden-text">Resume feed</span>
    </div> -->
    
    <div class="arrow_up_cont">
      <img class="arrows_icons" src="/front/svg/arrow_up.svg">
      <!-- <span class="hidden-text">Next event</span> -->
    </div>
  
    <div class="media_icons_pause_cont">
      <img class="pause_icon" src="/front/svg/pause_icon.svg">
      <!-- <span class="hidden-text">Pause feed</span> -->
    </div>
    
    <div class="arrow_down_cont">
        <img class="arrows_icons" src="/front/svg/arrow_down.svg">
        <!-- <span class="hidden-text">Previous event</span> -->
    </div>
</div>