<div class="media_container">
    <!-- <div class="media_icons_play_cont">
      <img class="play_icon" src="/front/svg/play_icon.svg">
      <span class="hidden_text">Resume feed</span>
    </div> -->
    
    <div class="arrow_up_cont">
      <img id="arrow_up" class="arrow_up" src="/front/svg/arrow_up.svg" alt="Next event">
      <span class="hidden_text_media">Next event</span>
    </div>
  
    <div class="media_icons_pause_cont">
      <img id="pause_icon" class="pause_icon" src="/front/svg/pause_icon.svg" alt="Pause feed">
      <span class="hidden_text_media">Pause feed</span>
    </div>
    
    <div class="arrow_down_cont">
        <img id="arrow_down" class="arrow_down" src="/front/svg/arrow_down.svg" alt="Previous event">
        <span class="hidden_text_media">Previous event</span>
    </div>
</div>
