<div class="backdrop" id="settings_form">
  <div class="popup_window settings_popup_window">
    <form id="SettingsFormModal" class="modal_form">
      <div id="profile_shortcats" class="profile_shortcats">
        <input id="profile_trade_url" name="profile_trade_url" class="input_field">
        <button type="submit">Save</button>
      </div>

    </form>

    <div id="profile_setup_payments" class="inner_window_conteiner">
      <a href="/api/payment/stripe/connect/start" class="primary_btn connect_btn">
        Connect Stripe
      </a>

      <a class="primary_btn" href="/api/payment/stripe/express/login" target="_blank" rel="noopener">
        Open Stripe Dashboard
      </a>
    </div>



    <div id="profile_setup_payments" class="inner_window_conteiner">

    </div>
  </div>

</div>