<div class="backdrop" id="settings_form">
  <form id="SettingsFormModal" class="modal_form">
    <div id="profile_shortcats" class="profile_shortcats">
      <input id="profile_trade_url" name="profile_trade_url" class="input_field">
      <button type="submit">Save</button>
    </div>

    <div id="profile_setup_payments" class="profile_setup_payments">
      <a href="/api/payment/stripe/connect/start" class="btn_connect_stripe">
        Connect Stripe
      </a>

    </div>

    <div id="profile_setup_payments" class="profile_setup_payments_2">

    </div>

  </form>
</div>