<div id="offer_listBackdrop">
    <div class="offer_list">

        <div id="store_info" class="store_info">
            <span>
                Queue
            </span>
        </div>

        <div class="card_hover-container">
            <div id="enter_my_store" class="store_widget">
                <img src="/front/svg/enter_store.svg" class="store_widget_icon">
            <!-- <span>
                Enter store
            </span>  -->
            </div>
            <!-- <span class="hidden-text">Enter store</span>  -->
        </div>

    </div>
</div>