<div id="store_menuBackdrop">

    <div id="store_menu" class="store_menu">

        <div id="store_info" class="store_info">
            <span>
                Rating
            </span>
            <span>
                Status
            </span>
            <span>
                Queue
            </span>
            <span>
                Avg offer time
            </span>
            <span>
                Avg offer price
            </span>
        </div>

        <div style="display: flex; flex-direction: column; gap: 14px;">
            <div class="card_hover-container">
                <form id="enter_store_button">
                <div id="enter_store" class="store_widget">
                    <img src="/front/svg/enter_store.svg" class="store_widget_icon">
                <!-- <span>
                    Enter store
                </span>  -->
                </div>
                <!-- <span class="hidden-text">Enter store</span>  -->
                 </form>
            </div>

            <!-- <div class="card_hover-container">
                <div id="store_rating" class="store_widget">
                    <img id="store_rating_icon" src="/front/svg/store_rating.svg" class="store_widget_icon">
                </div>
            </div> -->
            
        </div>
        
    </div>
</div>