<div id="user_storeBackdrop">
    <div id="user_store" class="user_store">

        <div class="store_grid">

            <!-- ROW 1 – COL 1 -->
            <div class="store_filters">
                <div class="div_quit_store">
                    <img id="quit_store_icon" class="quit_store_icon" src="/front/svg/quit_store.svg" alt="quit store">
                    <span class="hidden_text_store">Quit Store</span>
                </div>
                <form class="store_filters_form" id="store_filters_form">
                    <div style="display: flex; flex-direction: row; gap: 10px;">
                        <input id="store_steamid" style="display: none;" name="settings_steamid">
                        <select class="store_input" name="settings_appid" id="settings_appid_select">
                            <option>Select game</option>
                        </select>
                        <button class="store_button" type="submit">
                            <img class="reload_store_icon" src="/front/svg/refresh_icon.svg" alt="reload inventory">
                        </button>
                    </div>
                    <div class="store_icons_group">
                        <!-- <div style="display: flex; flex-direction: row;">
                            <img src="/front/svg/timer_icon.svg"  class="queue_icon" alt="avg time to trade">
                            <span>Avg trade time</span>
                        </div> -->
                        <div style="display: flex; flex-direction: row;">
                            <img src="/front/svg/queue_icon.svg"  class="timer_icon" alt="current store queue">
                            <span>Ppl before you</span>
                        </div>
                    </div>
                </form>
            </div>

            <!-- ROW 1 – COL 2 -->
            <div class="store_steps">
                <ol>
                    <li>Select store items</li>
                    
                </ol>
            </div>

            <!-- CHAT (full height – spans row1 & row2, column 3) -->
            <div class="store_chat">
                <div class="chat_messages" id="chat_messages"></div>

                <div class="chat_input_group">
                    <input class="store_input" id="chat_input" type="text" placeholder="Type message...">
                    <button class="store_button" id="chat_send" type="button">
                        <img class="reload_store_icon" src="/front/svg/send_icon.svg" alt="send message">
                    </button>
                </div>
            </div>

            <!-- NEW ROW: spans columns 1 & 2 -->
            <div class="store_selected_items">
                
                <div class="store_selected_items_list">
                </div>

                <div class="selected_items_accept_btn_cont">
                    <button id="selected_items_accept_btn" class="selected_items_accept_btn">
                        Accept
                    </button>
                </div>

            </div>

            <!-- ROW 2 — COL 1 & 2 merged -->
            <div class="store_inventory_area">
                <div id="inventory_input_group" class="inventory_input_group">
                    <input class="store_input" type="text" id="store_inventoryFilter" placeholder="Search items...">
                </div>
                <div id="store_inventory" class="store_inventory_list">
                    <span class="store_no_items_span">No items yet</span>
                </div>
            </div>

        </div>

    </div>
</div>